.pn-main{
    /*    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );*/
}


.btn-slidebar{
    -fx-background-color:#fff;
    -fx-background-radius: 5px;
    -fx-font-weight: 700;
}

.btn-slidebar:hover{
    -fx-background-color:  linear-gradient(from 25% 25% to 100% 100%, #7819A5, #C767E6);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

.btn-slidebar:selected{
    -fx-background-color:  linear-gradient(from 25% 25% to 100% 100%, #7819A5, #C767E6);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}
